    <!--
{% load static %}
     Bootstrap 
    <link href="{% static 'Proyecto_apadrinar/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  -->

<html>

<head>


    {% load static %}
    <!-- Bootstrap -->
    <link href="{% static 'Proyecto_apadrinar/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{% static 'Proyecto_apadrinar/css/gestion.css' %}" rel="stylesheet">



</head>

<body>



    <h1 class="site-heading text-center text-white d-none d-lg-block">
      
        <span class="site-heading-lower">Apadrina un Mechon</span>
      </h1>

      <div class="TopContainer">
        {% csrf_token %}
        <a style="color: white;">{{user.persona_auth.get_tipo_display}}</a>
        <a style="color: white;">{{user.username}}</a>
        <a href="{% url 'logout' %}">Salir</a>
      </div>




 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'login' %}">Apadrina un Mechon</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item {% if request.path == '/Perfiles' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Perfiles' %}">Perfiles</a>
          </li>
          <li class="nav-item {% if request.path == '/Perfiles' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'solicitudes' %}">Solicitudes</a>
          </li>
          <li class="nav-item {% if request.path == '/Blog' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Blog' %}">Preguntas Mechones</a>
          </li>
          <li class="nav-item {% if request.path == '/Actividades' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Actividades' %}">Camino de logros</a>
          </li>
          <li class="nav-item {% if request.path == '/Descargas' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Descargas' %}">Archivos</a>
          </li>
          <li class="nav-item {% if request.path == '/Problemas' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Problemas' %}">Reportar un problema</a>
          </li>


         
        </ul>
      </div>
    </div>
  </nav>

    <!-- Contenido cambiante-->
    {% block content %}



    {% endblock %}

    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	    </p>
        <p class="m-0 mbt">
        	<a href="{% static 'files/Reglamento-de-Conducta-para-la-Convivencia-de-la-Comunidad_.pdf' %}" class="link">Reglamento de Conducta</a> ·
        	<a href="{% static 'files/Política-de-Convivencia-Inclusión-y-Promoción-del-Respeto.pdf' %}" class="link">Politica de Convivencia</a> ·
        	<a href="{% static 'files/Protocolo-de-prevencion-y-enfrentamiento-al-acoso-sexual-unab.pdf' %}" class="link">Protocolo de prevencion y enfrentamiento al acoso sexual</a>
		</p>
        <p class="m-0 mbt1">&copy; Apadrina un mechon 2021</p>
      </div>
	</footer>

    <!-- Bootstrap -->
    <script src="{% static 'Proyecto_apadrinar/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'Proyecto_apadrinar/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>