{% extends "Proyecto_apadrinar/base.html" %}

{% load static %}

{% block content %}
<div class="container">a</div>
<div class="container">
    <div class="row">
        <div class="column" style="background-color: #aaa;">
            <h2>columna 1</h2>
            <p>info padrino/mechon</p>
        </div>
        <div class="column" style="background-color: #bbb;">
            <h2>columna 2</h2>
            <p>info actividades</p>
        </div>
        <div class="column" style="background-color: #ccc;">
            <h2>columna 3</h2>
            <p>info preguntas</p>    
        </div>
        <div class="column" style="background-color: #ddd;">
            <h2>columna 4</h2>
            <p>info archivos</p>
        </div>
    </div>
</div>
{% endblock %}