{% extends "Proyecto_apadrinar/base.html" %}

{% load static %}

{% block content %}
<html>

<head>

<style>
    h1 {text-align: center;}    
    p {text-align: center;}
        body{
            background-image:url('{% static "Proyecto_apadrinar/img/actividades.jpg"%}');
            background-repeat: no-repeat;
            background-size: cover;
        }

</style>

</head>

</html>




{% if "valido" in request.GET %}
    <div class="alert alert-primary" role="alert">
        Actividad creada exitosamente
    </div>

{% endif %}

{% if "completado" in request.GET %}
    <div class="alert alert-success" role="alert">
        Actividad completada exitosamente
    </div>

{% endif %}

{% if "cancelada" in request.GET %}
    <div class="alert alert-success" role="alert">
        Actividad cancelada exitosamente
    </div>

{% endif %}

{% if "modificada" in request.GET %}
    <div class="alert alert-success" role="alert">
        Actividad modificada exitosamente
    </div>

{% endif %}

<div class="container" style="text-align: center;">
    <a class="btn btn-success" href="{% url 'agendar' %}" role="button">Agendar actividad</a>
    <div class="row">

        {% for actividad in actividades %}
    <!-- Modal completar -->
    <div class="modal fade" id="Modalcompletar{{ actividad.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Estas seguro?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Una vez realizada esta acción, no se podrá modificar la actividad seleccionada.</p>
                </div>
                <div class="modal-footer">
                    <form action="{% url 'completar' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="dato" value="{{ actividad.id }}">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <input type="submit" class="btn btn-success" type="submit" value="Completar actividad">

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal cancelar -->
    <div class="modal fade" id="Modalcancelar{{ actividad.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Estas seguro?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Una vez realizada esta acción, no se podrá modificar la actividad seleccionada.</p>
                </div>
                <div class="modal-footer">
                    <form action="{% url 'cancelar' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="dato" value="{{ actividad.id }}">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <input type="submit" class="btn btn-success" type="submit" value="Cancelar actividad">

                    </form>
                </div>
            </div>
        </div>
    </div>
    
        <!-- Modal modificar -->
        <div class="modal fade" id="Modalmodificar{{ actividad.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modificar Actividad</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'modificar' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                              <label for="recipient-name" class="col-form-label">Actividad que se realizara:</label>
                                <input type="text" class="form-control" placeholder="{{ actividad.nombre }}" name="nombre_a" >
    
                              <label for="recipient-name" class="col-form-label">Dia (aa-mm-dd):</label>
                                <input type="text" class="form-control" placeholder="{{ actividad.fecha_agendada }}" name="dia_a">
    
                              <label for="message-text" class="col-form-label">Hora (Hora:Minutos):</label>
                                <input type="text" class="form-control" placeholder="{{ actividad.hora }}" name="hora_a"> 
    
                              <label for="message-text" class="col-form-label">Descripcion:</label>
                                <textarea class="form-control" placeholder="{{ actividad.descripcion }}" name="desc_a" ></textarea>
    
                            </div>
                  
                    <div class="modal-footer">
                            <input type="hidden" name="dato" value="{{ actividad.id }}">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <input type="submit" class="btn btn-success" type="submit" value="Modificar Archivo">
    
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>

        
            <!-- Cartas de actividades -->
                <div class="col-md-3">
                    <div class="card" style="width: 100%;">
                        <div class="card-body" style="text-align: center;">

                            {% if user.persona_auth.tipo == 0 %}    

                                <p class="card-title"> Actividad: {{actividad.nombre}}</p>

                                <h7 class="card-title"> Actividad creada por: {{actividad.creada_por}}</h7>
    
                                <p class="card-text"> Estado: {{actividad.get_estado_display}}</p>
    
                                <p class="card-text">Descripcion: {{actividad.descripcion}}</p>
    
                                <p class="card-text">Fecha a realizar: {{actividad.fecha_agendada}}</p>

                                <p class="card-text">Hora a realizar: {{actividad.hora}}</p>

                                {% if actividad.estado == 0 %}

                                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#Modalmodificar{{ actividad.id }}">Modificar actividad</button>

                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Modalcompletar{{ actividad.id }}">Completar actividad</button>

                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Modalcancelar{{ actividad.id }}">Cancelar actividad</button>

                                {% endif %}
                                

                            {% elif user.persona_auth.tipo == 1%}

                                <p class="card-title"> Actividad: {{actividad.nombre}}</p>

                                <h7 class="card-title"> Actividad creada por: {{actividad.creada_por}}</h7>
    
                                <p class="card-text"> Estado: {{actividad.get_estado_display}}</p>
    
                                <p class="card-text">Descripcion: {{actividad.descripcion}}</p>
    
                                <p class="card-text">Fecha a realizar: {{actividad.fecha_agendada}}</p>

                                <p class="card-text">Hora a realizar: {{actividad.hora}}</p>

                                {% if actividad.estado == 0 %}
    
                                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#Modalmodificar{{ actividad.id }}">Modificar actividad</button>

                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Modalcompletar{{ actividad.id }}">Completar actividad</button>

                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Modalcancelar{{ actividad.id }}">Cancelar actividad</button>
                                    
                                {% endif %}

                            {% endif %}

    
                        </div>
                    </div>
                </div>
           
    
                
    
    
                
    
        {% endfor %}
        </div>
</div>

<div class="container">

</div>







{% endblock %}