{% extends "Proyecto_apadrinar/base.html" %}

{% load static %}

{% block content %}

<html>

<head>

<style>
    h1 {text-align: center;}    
    p {text-align: center;}
        body{
            background-image:url('https://www.entervarsity.com/storage/uploads/noticeboard/rawpixel-com-nappy-%20(1).jpg-logo-2019-04-29-PsMnv.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

</style>

</head>

<div class="contenedorFormulario">
    {% if "valido" in request.GET %}
        <p>Su problema a sido enviado exitosamente</p>

    {% endif %}

    <form action="" method="POST" style="text-align: center;">
        {% csrf_token %}
        <table style="margin: 20px auto;">{{miFormulario.as_table}}</table>
            <input type="submit" value="Enviar" style="width: 150px;">

    </form>

</div>





</html>



{% endblock %}